<h1>Listing solutions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Contact</th>
  </tr>

<% @solutions.each do |solution| %>
  <tr>
    <td><%=h solution.name %></td>
    <td><%=h solution.description %></td>
    <td><%=h solution.contact %></td>
    <td><%= link_to 'Show', solution %></td>
    <td><%= link_to 'Edit', edit_solution_path(solution) %></td>
    <td><%= link_to 'Destroy', solution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New solution', new_solution_path %>